/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* BODY BACKGROUND */
body {
    background-color: #fdecef; /* very soft blush pink */
    color: #333;
    font-family: "Georgia","Times New Roman",serif;
    font-style: italic;
}



/* HEADER */
header {
    background-color: #e75480; /* rose pink */
    color: white;
    text-align: center;
    padding: 25px;
    border-radius: 0 0 20px 20px;
}

/* SECTIONS (WHITE CARDS) */
section {
    background-color: white;
    margin: 25px auto;
    padding: 30px;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
#about {
  padding: 60px 20px;
}

.about-container {
  display: flex;               /* side by side */
  align-items: center;         /* vertical center */
  justify-content: center;     /* center horizontally */
  gap: 40px;
  flex-wrap: wrap;             /* mobile friendly */
}

.about-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ff69b4;
}

.about-text {
  max-width: 500px;
  text-align: left;
}


/* ABOUT IMAGE */
#about img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #e75480;
}

/* SKILLS LIST */
#skills ul {
    margin-left: 20px;
}

#skills li {
    margin: 8px 0;
}

/* PROJECT CARDS */
.project {
    background-color: #fff5f7;
    padding: 15px;
    margin: 12px 0;
    border-radius: 10px;
    border-left: 5px solid #e75480;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 12px 18px;
    background-color: #e75480;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* CONTACT TEXT */
#contact p {
    margin: 6px 0;
}

/* FOOTER */
footer {
    background-color: #e75480;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 20px 20px 0 0;
}
